/* .bottom {
    background-image: linear-gradient(to bottom right, transparent, black);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 1;
  } */